/* Base Application Styles */
/*  引入antd 样式  */
@import '~antd/dist/antd.css';

body {
  color: #333333;
}
.app {
  display: flex;
}

.app .layout {
  padding: 10px;
  float: left;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex: auto;
}
.app .layout .main {
  width: 100%;
}